<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/4.5.3/css/bootstrap.min.css}" />
    <link rel="stylesheet" th:href="@{/webjars/font-awesome/5.15.1/css/all.css}"/>
    <link rel="stylesheet" href="/css/admin.css" />
</head>
<body>

<div sec:authorize="isAuthenticated()">
    <div class="container" style="">
        <nav class="navbar  navbar-expand-lg navbar-light ">
            <a class="navbar-brand" href="/MainAdminPage">
                <img th:src="@{/photos/openworldicon.jpg}" alt="yoq"/></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#id_navbar" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        </nav>
    </div>
<main class="container p-3">
    <!--<h4 class="text-center mb-4 text-justify"><span class="text">All Reports</span></h4>-->


    <div class="main-container">
        <div class="heading-container">
            <h1 class="heading">Admin Panel</h1>
            <p class="credit"><a target="_blank" >Hi mister Muhammad Iso </a></p>
        </div>
        <div class="card-container">
            <div class="card card-1">
                <div class="card__icon"><i class="fas fa-bolt"></i></div>
                <p class="card__exit"><i class="fas fa-times"></i></p>
                <h2 class="card__title">IELTS sertificates</h2>
                <p class="card__apply"><a href="/home">Add Now <i class="fas fa-arrow-right"></i></a></p>
            </div>
            <div class="card card-2">
                <div class="card__icon"><i class="fas fa-bolt"></i></div>
                <p class="card__exit"><i class="fas fa-times"></i></p>
                <h2 class="card__title">Teachers </h2>
                <p class="card__apply"><a href="#">Add Now <i class="fas fa-arrow-right"></i></a></p>
            </div>
            <div class="card card-3">
                <div class="card__icon"><i class="fas fa-bolt"></i></div>
                <p class="card__exit"><i class="fas fa-times"></i></p>
                <h2 class="card__title">Our Photos</h2>
                <p class="card__apply"><a href="#">Add Now <i class="fas fa-arrow-right"></i></a></p>
            </div>
<!--            <div class="card card-4">-->
<!--                <div class="card__icon"><i class="fas fa-bolt"></i></div>-->
<!--                <p class="card__exit"><i class="fas fa-times"></i></p>-->
<!--                <h2 class="card__title">Videos</h2>-->
<!--                <p class="card__apply"><a href="#">Add Now <i class="fas fa-arrow-right"></i></a></p>-->
<!--            </div>-->
<!--            <div class="card card-5">-->
<!--                <div class="card__icon"><i class="fas fa-bolt"></i></div>-->
<!--                <p class="card__exit"><i class="fas fa-times"></i></p>-->
<!--                <h2 class="card__title">Books</h2>-->
<!--                <p class="card__apply"><a href="#">Add Now <i class="fas fa-arrow-right"></i></a></p>-->
<!--            </div>-->
<!--            <div class="card card-1">-->
<!--                <div class="card__icon"><i class="fas fa-bolt"></i></div>-->
<!--                <p class="card__exit"><i class="fas fa-times"></i></p>-->
<!--                <h2 class="card__title">Others</h2>-->
<!--                <p class="card__apply"><a href="#">Add Now <i class="fas fa-arrow-right"></i></a></p>-->
<!--            </div>-->
        </div>
    </div>
</main>
</div>
</body>
</html>