<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Login 3</title>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/4.5.3/css/bootstrap.min.css}" />
    <link rel="stylesheet" href="/css/logiiin.css" />
</head>
<body>
<div layout:fragment="content">

    <div class="row no-gutters recipes">
        <div class=" col-lg-4">
            <div class="first-col text-white d-flex justify-content-center align-items-center">
                IELTS <br> Lessons
            </div>

        </div>
        <div class="col-lg-8">
            <div class="row no-gutters">

                <div class="col-12 col-sm-6 col-md-4 item">
                    <div class="card">
                        <div class="card-body">
                            <div class="image-wrapper rounded-circle">
                                <img src="https://www.kindpng.com/picc/m/486-4862550_book-clip-art-school-book-png-transparent-png.png" alt="" class="img-fluid rounded-circle text-center d-block mx-auto">
                            </div>
                            <div class="d-flex justify-content-between align-items-center mt-4 mb-2">
                                <span class="card-author">By <a href="#">The Programmer</a></span>
                                <span class="badge badge-primary bgcolor"><i class="fas fa-star mr-1"></i>4.6</span>
                            </div>
                            <h5 class="card-title"><a href="/beginner">Beginner</a> </h5>

                            <h6 class="card-date"><i class="fas fa-calendar mr-2"></i>Nov 20, 2020</h6>
                        </div>
                    </div>
                </div>

                <div class="col-12 col-sm-6 col-md-4 item">
                    <div class="card">
                        <div class="card-body">
                            <div class="image-wrapper rounded-circle">
                                <img src="https://www.kindpng.com/picc/m/486-4862550_book-clip-art-school-book-png-transparent-png.png" alt="" class="img-fluid rounded-circle text-center d-block mx-auto">
                            </div>

                            <div class="d-flex justify-content-between align-items-center mt-4 mb-2">
                                <span class="card-author">By <a href="#">The Programmer</a></span>
                                <span class="badge badge-primary bgcolor"><i class="fas fa-star mr-1"></i>4.6</span>
                            </div>

                            <h5 class="card-title"><a href="/elementary">Elementary</a> </h5>

                            <h6 class="card-date"><i class="fas fa-calendar mr-2"></i>Nov 20, 2020</h6>
                        </div>
                    </div>
                </div>

                <div class="col-12 col-sm-6 col-md-4 item">
                    <div class="card">
                        <div class="card-body">
                            <div class="image-wrapper rounded-circle">
                                <img src="https://www.kindpng.com/picc/m/486-4862550_book-clip-art-school-book-png-transparent-png.png" alt="" class="img-fluid rounded-circle text-center d-block mx-auto">
                            </div>
                            <div class="d-flex justify-content-between align-items-center mt-4 mb-2">
                                <span class="card-author">By <a href="#">The Programmer</a></span>
                                <span class="badge badge-primary bgcolor"><i class="fas fa-star mr-1"></i>4.6</span>
                            </div>

                            <h5 class="card-title"><a href="/preintermediate">Pre-intermediate</a> </h5>

                            <h6 class="card-date"><i class="fas fa-calendar mr-2"></i>Nov 20, 2020</h6>
                        </div>
                    </div>
                </div>

                <div class="col-12 col-sm-6 col-md-4 item">
                    <div class="card">
                        <div class="card-body">
                            <div class="image-wrapper rounded-circle">
                                <img src="https://www.kindpng.com/picc/m/486-4862550_book-clip-art-school-book-png-transparent-png.png" alt="" class="img-fluid rounded-circle text-center d-block mx-auto">
                            </div>
                            <div class="d-flex justify-content-between align-items-center mt-4 mb-2">
                                <span class="card-author">By <a href="#">The Programmer</a></span>
                                <span class="badge badge-primary bgcolor"><i class="fas fa-star mr-1"></i>4.6</span>
                            </div>

                            <h5 class="card-title"><a href="#">Pre IELTS</a> </h5>

                            <h6 class="card-date"><i class="fas fa-calendar mr-2"></i>Nov 20, 2019</h6>
                        </div>
                    </div>
                </div>

                <div class="col-12 col-sm-6 col-md-4 item">
                    <div class="card">
                        <div class="card-body">
                            <div class="image-wrapper rounded-circle">
                                <img src="https://www.kindpng.com/picc/m/486-4862550_book-clip-art-school-book-png-transparent-png.png" alt="" class="img-fluid rounded-circle text-center d-block mx-auto">
                            </div>

                            <div class="d-flex justify-content-between align-items-center mt-4 mb-2">
                                <span class="card-author">By <a href="#">The Programmer</a></span>
                                <span class="badge badge-primary bgcolor"><i class="fas fa-star mr-1"></i>4.6</span>
                            </div>

                            <h5 class="card-title"><a href="#">IELTS INTRODUCTION</a> </h5>

                            <h6 class="card-date"><i class="fas fa-calendar mr-2"></i>Nov 20, 2019</h6>
                        </div>
                    </div>
                </div>

                <div class="col-12 col-sm-6 col-md-4 item">
                    <div class="card">
                        <div class="card-body">
                            <div class="image-wrapper rounded-circle">
                                <img src="https://www.kindpng.com/picc/m/486-4862550_book-clip-art-school-book-png-transparent-png.png" alt="" class="img-fluid rounded-circle text-center d-block mx-auto">
                            </div>
                            <div class="d-flex justify-content-between align-items-center mt-4 mb-2">
                                <span class="card-author">By <a href="#">The Programmer</a></span>
                                <span class="badge badge-primary bgcolor"><i class="fas fa-star mr-1"></i>4.6</span>
                            </div>

                            <h5 class="card-title"><a href="#">IELTS FOUNDATION</a> </h5>

                            <h6 class="card-date"><i class="fas fa-calendar mr-2"></i>Nov 20, 2019</h6>
                        </div>
                    </div>
                </div>

                <div class="col-12 col-sm-6 col-md-4 item">
                    <div class="card">
                        <div class="card-body">
                            <div class="image-wrapper rounded-circle">
                                <img src="https://www.kindpng.com/picc/m/486-4862550_book-clip-art-school-book-png-transparent-png.png" alt="" class="img-fluid rounded-circle text-center d-block mx-auto">
                            </div>
                            <div class="d-flex justify-content-between align-items-center mt-4 mb-2">
                                <span class="card-author">By <a href="#">The Programmer</a></span>
                                <span class="badge badge-primary bgcolor"><i class="fas fa-star mr-1"></i>4.6</span>
                            </div>

                            <h5 class="card-title"><a href="#">IELTS FOUNDATION</a> </h5>

                            <h6 class="card-date"><i class="fas fa-calendar mr-2"></i>Nov 20, 2019</h6>
                        </div>
                    </div>
                </div>

                <div class="col-12 col-sm-6 col-md-4 item">
                    <div class="card">
                        <div class="card-body">
                            <div class="image-wrapper rounded-circle">
                                <img src="https://www.kindpng.com/picc/m/486-4862550_book-clip-art-school-book-png-transparent-png.png" alt="" class="img-fluid rounded-circle text-center d-block mx-auto">
                            </div>

                            <div class="d-flex justify-content-between align-items-center mt-4 mb-2">
                                <span class="card-author">By <a href="#">The Programmer</a></span>
                                <span class="badge badge-primary bgcolor"><i class="fas fa-star mr-1"></i>4.6</span>
                            </div>

                            <h5 class="card-title"><a href="#">IELTS FOUNDATION</a> </h5>

                            <h6 class="card-date"><i class="fas fa-calendar mr-2"></i>Nov 20, 2019</h6>
                        </div>
                    </div>
                </div>

                <div class="col-12 col-sm-6 col-md-4 item">
                    <div class="card">
                        <div class="card-body">
                            <div class="image-wrapper rounded-circle">
                                <img src="https://www.kindpng.com/picc/m/486-4862550_book-clip-art-school-book-png-transparent-png.png" alt="" class="img-fluid rounded-circle text-center d-block mx-auto">
                            </div>
                            <div class="d-flex justify-content-between align-items-center mt-4 mb-2">
                                <span class="card-author">By <a href="#">The Programmer</a></span>
                                <span class="badge badge-primary bgcolor"><i class="fas fa-star mr-1"></i>4.6</span>
                            </div>

                            <h5 class="card-title"><a href="#">IELTS FOUNDATION</a> </h5>

                            <h6 class="card-date"><i class="fas fa-calendar mr-2"></i>Nov 20, 2019</h6>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

<div id="mybutton">
    <a href="/logout"  type="button" class="feedback" >Chiqish</a>
</div>


</div></div>
</body>
</html>